@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  scroll-behavior: smooth !important;
}

.header-nav {
  font-family: "Tomorrow", sans-serif;
}

.navigation {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

.active {
  color: #f05a29 !important;
}

.left-heading {
  font-family: "Tomorrow", sans-serif;
}

.right-heading {
  font-family: "Inter", sans-serif;
}

.animate-gradient-up {
  animation: gradientUp 3s ease-in-out infinite alternate;
}

.animate-gradient-down {
  animation: gradientDown 3s ease-in-out infinite alternate;
}

@keyframes gradientUp {
  0% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@keyframes gradientDown {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}

.solution-heading {
  font-family: "Tomorrow", sans-serif;
}

.card {
  font-family: "Tomorrow", sans-serif;
}

.btn-text {
  font-family: "Inter", sans-serif;
}

.text-img::before {
  content: "";
  position: absolute;
  top: 0;
  right: 85px;
  bottom: 0;
  width: 31%;
  background: #0c3c8c;
  clip-path: polygon(60% 0, 100% 0, 44% 100%, 0 100%);
  z-index: 1;
}

.hand-image {
  clip-path: polygon(0% 0, 100% 0, 70% 100%, 0 100%);
}

.text-img h1 {
  font-family: "Tomorrow", sans-serif;
}

.text-img p {
  font-family: "Inter", sans-serif;
}

.our-works {
  font-family: "Tomorrow", sans-serif;
}

.insight-header {
  font-family: "Tomorrow", sans-serif;
}

.card-title {
  font-family: "Tomorrow", sans-serif;
}

.card-desc {
  font-family: "Inter", sans-serif;
}

.CTA {
  font-family: "Tomorrow", sans-serif;
}

.CTA p {
  font-family: "Inter", sans-serif;
}

.footer h3 {
  font-family: "Tomorrow", sans-serif;
}

.footer p {
  font-family: "Inter", sans-serif;
}

.link-navbar {
  position: relative;
}

.link-navbar::before {
  content: " ";
  position: absolute;
  height: 10px;
  width: 100%;
  background: #f05a29;
  border-radius: 8px 8px 0px 0px;
  top: 60px;
  opacity: 0;
  transition: opacity 300ms;
}

.link-navbar:hover::before {
  opacity: 1;
}

.service-list {
  font-family: "Tomorrow", sans-serif;
}

@media (max-width: 768px) {
  .background-hero1 {
    clip-path: polygon(100% 0px, 100% 0px, 100% 100%, 0% 100%) !important;
  }

  .background-hero2 {
    clip-path: polygon(0px 0px, 100% 0px, 0% 100%, 0% 100%) !important;
  }

  .text-img::before {
    width: 100%;
    right: 0;
    margin-right: -3rem;
    margin-top: 20rem;
    clip-path: polygon(90% 0%, 106% 0, 53% 100%, 30% 100%);
  }

  .hand-image {
    clip-path: polygon(0% 0, 111% 0, 71% 100%, 0 100%);
  }
}

@media (min-width: 1024px) {
  .hand-image {
    display: flex;
    justify-content: center;
    clip-path: polygon(0% 0, 96% 0, 68% 100%, 0 100%);
  }

  .text-img::before {
    clip-path: polygon(60% 0, 97% 0, 41% 100%, 0 100%);
  }
}