* {
  scroll-behavior: smooth !important;
}

.active {
  color: #f05a29 !important;
}

.animate-gradient-up {
  animation: gradientUp 3s ease-in-out infinite alternate;
}

.animate-gradient-down {
  animation: gradientDown 3s ease-in-out infinite alternate;
}

@keyframes gradientUp {
  0% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@keyframes gradientDown {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}

.text-img::before {
  content: "";
  position: absolute;
  top: 0;
  right: 81px;
  bottom: 0;
  width: 31%;
  background: #0c3c8c;
  clip-path: polygon(60% 0, 100% 0, 44% 100%, 0 100%);
  z-index: 1;
}

.hand-image {
  clip-path: polygon(0% 0, 100% 0, 70% 100%, 0 100%);
}

.hand-image img {
  width: 100%;
  height: auto;
}

.link-navbar {
  position: relative;
}

.link-navbar::before {
  content: " ";
  position: absolute;
  height: 10px;
  width: 100%;
  background: #f05a29;
  border-radius: 8px 8px 0px 0px;
  top: 60px;
  opacity: 0;
  transition: opacity 300ms;
}

.link-navbar:hover::before {
  opacity: 1;
}

@media (max-width: 768px) {
  .background-hero1 {
    clip-path: polygon(100% 0px, 100% 0px, 100% 100%, 0% 100%) !important;
  }

  .background-hero2 {
    clip-path: polygon(0px 0px, 100% 0px, 0% 100%, 0% 100%) !important;
  }

  .text-img::before {
    width: 100%;
    right: 0;
    margin-right: -3rem;
    margin-top: 20rem;
    clip-path: polygon(90% 0%, 106% 0, 53% 100%, 32% 100%);
  }

  .hand-image {
    clip-path: polygon(0% 0, 111% 0, 71% 100%, 0 100%);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hand-image {
    display: flex;
    justify-content: center;
    clip-path: polygon(0% 0, 100% 0, 83% 100%, 0% 100%);
  }

  .text-img::before {
    right: 0px;
    width: 35%;
    clip-path: polygon(60% 0, 100% 0, 50% 100%, 10% 100%);
  }
}