@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


.header-nav {
  font-family: 'Tomorrow', sans-serif;
}

.navigation {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

.active {
  color: #F05A29 !important;
}

.left-heading {
  font-family: 'Tomorrow', sans-serif;
}

.right-heading {
  font-family: 'Inter', sans-serif;
}

.animate-gradient-up {
  animation: gradientUp 3s ease-in-out infinite alternate;
}

.animate-gradient-down {
  animation: gradientDown 3s ease-in-out infinite alternate;
}

@keyframes gradientUp {
  0% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@keyframes gradientDown {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}

.solution-heading {
  font-family: "Tomorrow", sans-serif;
}

.card {
  font-family: "Tomorrow", sans-serif;
}